.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    
  }
  
  .sticky{
    position: sticky;
    top: 0;

  
  }
  .body{
    background:url('https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60t&fit=crop&w=987&q=80');
    background-size:contain;
  .single-item-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    padding-top: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(16px);
      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.5);
    }



  
    .product-slide{
      height: 200vh;
      // display: flex;
      // flex-direction: row;
      justify-content: center;
      width: 60%;
      padding-top: 200px;
  
      margin: 0 auto;
      .makeup-title2{
        font-size: 1.4vw;
        text-transform: uppercase; 
        font-weight: 600;
        color: rgb(255, 255, 255);
      }
      .make-up-desc2{
        
        font-size: .8rem;
        margin-top: 20px;
        font-weight: 600;
        line-height: 3.5;
        color: rgb(192, 64, 138);
  
      }
      .button-container{
          justify-content: space-evenly;
      }
      .background{
          border: 1px solid white;
          color: white;
      }
      .background2{
        border: 1px solid white;
        color: white;
        margin-right: 180px;
    }
    
    }
  
    .item-img-right{
      height: 100vh;
      width: 50vw;
      overflow: hidden;
      position: sticky;
      right: 0;
      top: 0;
  
  
   
  
      img{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        opacity: 0;
        transition: all 1s ease-in-out;
        transform: scale (1.3);
        position: absolute;
        top: 0;
  
        &.as-primary{
          opacity: 1;
          transform: scale(1.1)
        }
  
      }
    }
  }
}