@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Monaco:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Hind];
        background:url('https://images.unsplash.com/photo-1574281183650-14db8f28c259?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60t&fit=crop&w=987&q=80');
        background-size:contain;
        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
          -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(8px);
          background-color: rgba(255, 255, 255, 0.5);
        }
        

    }
    li {
        @apply px-3;
        
    }
}

.content-div {
    margin-top: 60px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(255, 159, 202, 0.8),
        hsla(0, 100%, 97%, 0.8)   
    )!important;
}
.image {
    min-height: 100vh;
    position: relative;
  }
  
  .image .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .content span.img-txt {
    background-color: white;
    text-transform: uppercase;
    color: rgb(203, 60, 129);
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
  
  
  
  h3 {
    letter-spacing: 6px;
    text-transform: uppercase;
    font: 1.3rem;
    text-align: center;
  }
  
  .text-box {
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
  }